In [1]:
# Load tech employment dataset
from pathlib import Path
import pandas as pd

# path relative to this notebook (notebooks/)
data_path = Path('..') / 'data' / 'tech_employment_2000_2025.csv'

df = pd.read_csv(data_path)

df.head()

# Uncomment to see a concise summary
# df.info()

,company,year,employees_start,employees_end,new_hires,layoffs,net_change,hiring_rate_pct,attrition_rate_pct,revenue_billions_usd,stock_price_change_pct,gdp_growth_us_pct,unemployment_rate_us_pct,is_estimated,confidence_level,data_quality_score
0,AMD,2001,13387,14400,2083,1070,1013,15.6,8.0,3.89,25.1,1.0,4.7,False,Medium,95
1,AMD,2002,14400,12500,0,1900,-1900,0.0,13.2,2.70,42.8,1.7,5.8,False,Medium,95
2,AMD,2003,12500,12000,0,500,-500,0.0,4.0,3.52,-1.8,2.8,6.0,False,Medium,95
3,AMD,2004,12000,11700,60,360,-300,0.5,3.0,5.00,-18.6,3.8,5.5,False,Medium,95
4,AMD,2005,11700,9860,0,1840,-1840,0.0,15.7,5.85,15.2,3.5,5.1,False,Medium,95

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   532 non-null    object
 1   year                      532 non-null    int64
 2   employees_start           532 non-null    int64
 3   employees_end             532 non-null    int64
 4   new_hires                 532 non-null    int64
 5   layoffs                   532 non-null    int64
 6   net_change                532 non-null    int64
 7   hiring_rate_pct           532 non-null    float64
 8   attrition_rate_pct        532 non-null    float64
 9   revenue_billions_usd      532 non-null    float64
 10  stock_price_change_pct    532 non-null    float64
 11  gdp_growth_us_pct         532 non-null    float64
 12  unemployment_rate_us_pct  532 non-null    float64
 13  is_estimated              532 non-null    bool
 14  confidence_level          532 non-null    object
 15  data_quality_score        532 non-null    int64
dtypes: bool(1), float64(6), int64(7), object(2)
memory usage: 63.0+ KB

In [8]:
df.isnull().sum()

company                     0
year                        0
employees_start             0
employees_end               0
new_hires                   0
layoffs                     0
net_change                  0
hiring_rate_pct             0
attrition_rate_pct          0
revenue_billions_usd        0
stock_price_change_pct      0
gdp_growth_us_pct           0
unemployment_rate_us_pct    0
is_estimated                0
confidence_level            0
data_quality_score          0
dtype: int64

In [9]:
df.columns

Index(['company', 'year', 'employees_start', 'employees_end', 'new_hires',
       'layoffs', 'net_change', 'hiring_rate_pct', 'attrition_rate_pct',
       'revenue_billions_usd', 'stock_price_change_pct', 'gdp_growth_us_pct',
       'unemployment_rate_us_pct', 'is_estimated', 'confidence_level',
       'data_quality_score'],
      dtype='object')

In [10]:
df.describe()

,year,employees_start,employees_end,new_hires,layoffs,net_change,hiring_rate_pct,attrition_rate_pct,revenue_billions_usd,stock_price_change_pct,gdp_growth_us_pct,unemployment_rate_us_pct,data_quality_score
count,532.000000,5.320000e+02,5.320000e+02,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000
mean,2014.439850,5.207528e+04,5.735967e+04,7426.246241,2141.857143,5284.389098,34.959398,4.284023,39.061823,14.586466,2.040414,5.689662,92.593985
std,6.763572,1.578569e+05,1.707701e+05,31505.827538,7036.173127,29361.877027,49.168606,4.475544,84.731412,30.215040,1.744867,1.841555,4.278510
min,2001.000000,8.000000e+00,1.000000e+01,0.000000,0.000000,-67000.000000,0.000000,0.000000,0.000000,-53.800000,-2.800000,3.600000,85.000000
25%,2009.000000,2.550250e+03,3.200000e+03,335.250000,87.750000,100.000000,7.000000,3.000000,2.160000,-7.150000,1.700000,4.200000,95.000000
50%,2015.000000,1.073700e+04,1.200000e+04,1420.500000,413.500000,900.000000,18.650000,3.000000,7.990000,14.350000,2.300000,5.300000,95.000000
75%,2020.000000,5.414575e+04,6.120350e+04,5161.000000,2044.750000,3388.000000,41.800000,3.025000,34.202500,34.725000,2.800000,7.400000,95.000000
max,2025.000000,1.608000e+06,1.608000e+06,523940.000000,96480.000000,500000.000000,400.000000,81.200000,670.000000,112.500000,5.800000,9.600000,95.000000